@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Marka renklerimiz */
  --brand: #332470;
  --brand-light: #4c399c;
  --brand-dark: #22174d;
  --brand-50: #f3f0fa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Marka renklerini Tailwind sınıflarına dahil ediyoruz */
  --color-brand: var(--brand);
  --color-brand-light: var(--brand-light);
  --color-brand-dark: var(--brand-dark);
  --color-brand-50: var(--brand-50);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}